.App {
  text-align: center;
}

body {
  background-color: rgb(2, 175, 2);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
}

.searchBox {
  font-family: 'Roboto', sans-serif;
  width: 200px;
  margin: 0 auto;
  background-color: rgb(255, 230, 0);
  box-shadow: 1px 2px rgb(0, 0, 0, .5);
  border: 2px solid blue;
  border-radius: 5px;
  font-size: 20px;
}
.habitatSearch{
  padding: 5px;
  margin: 5px;
  font-size: 14px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

.pokeCard {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 30px;
  background-color: rgb(255, 230, 0);
  border: 2px solid blue;
  box-shadow: 1px 2px rgb(0, 0, 0, .5);
  border-radius: 3px;
  margin: 10px;
  transition: ease-in-out .25s;
}

.pokeCard:hover {
  cursor: pointer;
  background-color: rgb(226, 204, 5);
}

a {
  text-decoration: none;
  color: blue;
}