.App {
  text-align: center;
}


.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

.pokeCard {
  padding: 30px;
  background-color: rgb(255, 230, 0);
  border: 1px solid blue;
  border-radius: 3px;
  margin: 10px;
}